.geks-border-radius {
    border: 2px solid black;
    border-radius: 10px;
}

.geks-header {

}
.geks-header-title {
    margin: 0;
    line-height: 100px;
}

.geks-logo {
    float: left;
    margin-right: 5%;
    margin-left: 5%;
}

.geks-header-menu {
    padding: 1em;
    margin: 0;
    margin-top: 1em;
}

.geks-nav-icon {
    margin-right: 0.5em;
}

#geks-nav-list {
    float: left;
}

.geks-login-button {
    float: right;
}

.geks-login-form {
    padding-right: 30%;
    padding-top: 5%;
}

.geks-register-errors {
    padding: 5%;
}