header.geks-header.geks-border-radius
    .row
        a(href='/')
            img(class='geks-logo' src='img/logo.png' alt='logo')
        h1(class='geks-header-title') Сервис команды переводчиков ГЕКС



