.row.geks-header-menu.geks-border-radius
    ul.nav.nav-pills
        li.active
            a(href='/translate') Перевод
        li
            a(href='/inspection') Инспекция
        li
            a(href='/upload') Загрузить
        li
            a(href='/download') Скачать