table.table.table-bordered
    thead
        tr
            th Имя пользователя
            th Электропочта
            th Переводчик
            th Инспектор
            th Администратор
    tbody
        if users
            each user in users
                tr
                    th #{user.username}
                    th #{user.email}
                    td
                        input(type='checkbox' checked=(user.translator) onchange='onChangeAdminCheck("translator", "' + (user.username) + '");')
                    td
                        input(type='checkbox' checked=(user.inspector) onchange='onChangeAdminCheck("inspector", "' + (user.username) + '");')
                    td
                        input(type='checkbox' checked=(user.admin) onchange='onChangeAdminCheck("admin", "' + (user.username) + '");')